#package-lock=false
auto-install-peers=true
# hoist-pattern[]=!prettier,!prettier-plugin-*,!eslint,!eslint-plugin-*,!@typescript-eslint/*,!typescript
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*jest*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=lint-staged
node-linker=hoisted
prefer-workspace-packages=true
strict-peer-dependencies=true