version: "3.7"
services:
  configserver:
    image: trajano/cloud-config
    environment:
      SPRING_ZIPKIN_BASE-URL: http://tracing:9411/
      SPRING_ZIPKIN_SERVICE_NAME: config
    networks:
      - default
      - intranet
    deploy:
      replicas: 2
      update_config:
        order: start-first
      restart_policy:
        condition: any
        delay: 10s
      labels:
        - intranet=true
        - traefik.enable=true
        - traefik.http.routers.config.entryPoints=http
        - traefik.http.routers.config.middlewares=default,strip-prefix@file
        - traefik.http.routers.config.service=config
        - traefik.http.services.config.loadbalancer.server.port=8080
  api:
    image: trajano/cloud-gateway
    environment:
      SPRING_ZIPKIN_BASE-URL: http://tracing:9411/
      SPRING_ZIPKIN_SERVICE_NAME: gateway
      SPRING_CLOUD_GATEWAY_DISCOVERY_LOCATOR_ENABLED: "true"
#      SPRING_CLOUD_CONFIG_DISCOVERY_ENABLED: "true"
      SPRING_CLOUD_CONFIG_URI: http://configserver:8080/
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - default
      - intranet
    deploy:
      replicas: 1
      update_config:
        order: start-first
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 1
      labels:
        - intranet=true
        - traefik.enable=true
        - traefik.http.routers.gateway.entryPoints=http
        - traefik.http.routers.gateway.middlewares=default,strip-prefix@file
        - traefik.http.routers.gateway.service=gateway
        - traefik.http.services.gateway.loadbalancer.server.port=8080
  eureka:
    image: trajano/cloud-eureka
    environment:
      SPRING_ZIPKIN_BASE-URL: http://tracing:9411/
      SPRING_ZIPKIN_SERVICE_NAME: eureka
      SERVER_PORT: "8761"
      EUREKA_INTANCE_HOSTNAME: eureka
      EUREKA_CLIENT_REGISTERWITHEUREKA: "false"
      EUREKA_CLIENT_SERVERURL_DEFAULTZONE: http://eureka:8761/eureka/
    networks:
      - default
      - intranet
    deploy:
      replicas: 0
      update_config:
        order: start-first
      restart_policy:
        condition: any
        delay: 10s
      labels:
        - intranet=true
        - traefik.enable=true
        - traefik.http.routers.eureka.entryPoints=http
        - traefik.http.routers.eureka.middlewares=default
        - traefik.http.routers.eureka.service=config
        - traefik.http.services.eureka.loadbalancer.server.port=8761
  tracing:
    image: alpine/socat
    command: tcp-listen:9411,fork TCP:zipkin:9411
    healthcheck:
      test: socat /dev/null TCP:zipkin:9411
    deploy:
      replicas: 1
      update_config:
        order: start-first
      restart_policy:
        condition: any
        delay: 10s
    networks:
      - default
      - management

networks:
  management:
    external: true
  intranet:
    external: true
#volumes:
#  elasticsearch-data:
#    driver_opts:
#      type: nfs
#      o: "addr=192.168.1.1,rw,nfsvers=3"
#      device: ":/mnt/sda1/elasticsearch"
